				<div class="indent">
					<h2><i class="icon-wrench"></i> Panel Administratora</h2>
				</div>
				<div class="box1">
					<div class="inner">
					<h3>Użytkowników: <span class="badge badge-info licznik"><%= @users.count -1 %></span><br>
					    Użytkowników niepotwierdzonych: <span class="badge badge-info licznik"><%= @users_waiting.count -1 %></span><br><br>
					    Aktualności Klubowych: <span class="badge badge-info licznik"><%= @dashboard.count %></span><br>
					    Aktualności Ogólnych: <span class="badge badge-info licznik"><%= @news.count %></span></h3>
					<hr>
					<%= link_to new_dashboard_path, :class => "btn btn-large btn-inverse" do %>
						<i class="icon-bullhorn"></i> Aktualność Klubowa
					<% end %>

					<%= link_to new_news_path, :class => "btn btn-large btn-inverse" do %>
						<i class="icon-bullhorn"></i> Aktualność Ogólna
					<% end %>
					<br><br>
					<%= link_to media_path, :class => "btn btn-large btn-primary" do %>
						<i class="icon-external-link"></i> Media o Nas
					<% end %>
					</div>
				</div>

