<div class="page-header">
  <h3><i class="fa fa-envelope"></i> <%= t 'navi_contact' %></h3>
</div>
<h4><%= t 'contact.info' %></h4>

<%= form_tag({controller: "static_pages", action: "contact"},{:class => "form-horizontal", "style" => "margin-left:-100px;"}) do %>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input1"><%= t 'contact.name' %></label>
    <div class="col-sm-6">
      <%= text_field_tag :contact_name, nil, class: "form-control", placeholder: t('contact.your_name') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input2"><%= t 'contact.email' %></label>
    <div class="col-sm-6">
      <%= text_field_tag :contact_email, nil, class: "form-control", placeholder: t('contact.your_email') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input3"><%= t 'contact.message' %></label>
    <div class="col-sm-6">
      <%= text_area_tag :contact_message, nil, rows: 8, class: "form-control", placeholder: t('contact.your_message') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input3"></label>
    <div class="col-sm-6">
      <%= show_simple_captcha %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-check"></i>  <%= t 'contact.send' %>
      </button>
    </div>
  </div>
<% end %>
