        <div class="page-header">  
            <h2>Kontakt</h2>  
        </div>  
	<h4>Jeśli masz pytania lub sugestie, użyj formularza poniżej i napisz do nas. </h4>

	<%= form_tag({controller: "static_pages", action: "contact"},{:class => "form-horizontal", "style" => "margin-left:-100px;"}) do %>
            <div class="control-group">  
                <label class="control-label" for="input1">Imię</label>  
                <div class="controls"> 
		    <%= text_field_tag :contact_name, nil,:placeholder => "Twoję imię" %>
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input2">Email</label>  
                <div class="controls">  
		    <%= text_field_tag :contact_email, nil,:placeholder => "Twój adres email" %>
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input3">Wiadomość</label>  
                <div class="controls"> 
		    <%= text_area_tag :contact_message, nil, :rows => 8, :class => "span5", :placeholder => "Treść wiadomości którą chcesz przesłać do nas." %>
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input3"></label>  
                <div class="controls">
		    <%= show_simple_captcha %>
		</div>  
            </div> 
            <div class="form-actions" style="width:100%;margin-left:80px;padding-left: 120px;">
                <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>  
            </div>  
	<% end %>
          


