				<div class="indent">
				   <div class="page-header">  
					<h2><%= t 'hello' %></h2>
				   </div>
				   <% if @tournament_last.present? && @tournament_last.termin_end >= DateTime.now %>
					<p align="center">
					<%= link_to @tournament_last, :class => "btn btn-large btn-primary" do %>
						<i class="icon-double-angle-right"></i> Info: <%= @tournament_last.nazwa %> <i class="icon-double-angle-left"></i>
					<% end %>
					</p>
				   <% end %>
				</div>

				<div class="box1">
					<div class="inner">
						<h3><%= t 'last_news' %></h3>
						<ul class="list1">
							<% @news_last.each do |news| %>
							<li><b><%= link_to news.tytul, news %></b>
				        		<% if (I18n.locale == I18n.default_locale) || (I18n.locale != I18n.default_locale && news.tekst_en.size < 15) %>
							<%= (strip_tags(news.tekst_pl))[0..300]+"..." %></li>
							<% else %>
							<%= (strip_tags(news.tekst_en))[0..300]+"..." %></li>
							<% end %>
							
							<% end %>
						</ul>
					</div>
				</div>

