 <% if @message.errors.any? %>
    <div id="error_explanation">
    <% if  (@message.errors.count) == 1  %>
      <h4>Wiadomość nie została wysłana z powodu jednego błędu</h4>
    <% elsif (@message.errors.count) > 1 %>
        <h4>Wiadomość nie została wysłana z powodu <%= @message.errors.count %> błędów</h4>
    <% end %>
      <ul style="background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <hr>
    </div>
  <% end %>

<div class="span6">
<%= form_for @message, :url => user_messages_path(@user) do |f| %>
  <p style="display:none;">
		<%= f.text_field :to, :value => @user.username %>

  </p>
 <div class="controls controls-row">
    <%= f.text_field :subject, :class => "span4", :placeholder => "Temat wiadomości..." %>
 </div>

 <div class="controls">
      <%= f.text_area :body, :class => "span5", :placeholder => "Treść wiadomości..." %>
 </div>

 <div class="controls">
	<%= button_tag(type: "submit", class: "btn btn-primary input-medium pull-left") do %>
		<i class="icon-share"></i> Wyślij
	<% end %>
 </div>
<% end %>
</div>	
