<p style="margin-top:20px;background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">

 <font class="mail_subject">
	<%= @message.subject[0..15] %>
 </font>

 <font class="mail_subject_od_do"> 
	od <strong><%= @message.sender == @user ? link_to("Ty", user_path(@user)) : link_to(h(@message.sender.username), user_path(@message.sender)) %></strong>
	do <strong> <%= @message.recipient == @user ? link_to("Ty", user_path(@user)) : link_to(h(@message.recipient.username), user_path(@message.recipient)) %></strong>
 </font>

 <font class="mail_subject_czas">
	<%= I18n.l @message.created_at, :format => :long %>
 </font>
 
</p>

<div style="padding:20px;">
  <%= simple_format(@message.body) %>
</div>

<p>
  <% if @message.recipient == @user %>
	  <%= link_to new_user_message_path(@user, :reply_to => @message), :class => "btn btn-primary input-medium pull-left" do %>
		<i class="icon-share"></i> Odpowiedź Nadawcy
	<% end %>
  <% end %>
</p>
