<%= form_for(@user) do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation">
    <% if  (@user.errors.count) == 1  %>
      <h4>Użytkownik nie został stworzony z powodu jednego błędu</h4>
    <% elsif (@user.errors.count) > 1 %>
        <h4>Użytkownik nie został stworzony z powodu <%= @user.errors.count %> błędów</h4>
    <% end %>
      <ul style="background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="field">
  <%= f.label :Nazwa_Użytkownika %>
  <%= f.text_field :username, :placeholder => "jkowalski" %>
</div>
<div class="field">
  <%= f.label :Imię_i_Nazwisko %>
  <%= f.text_field :name_surname, :placeholder => "Jan Kowalski" %>
</div>
<div class="field">
    <%= f.label :Data_urodzenia %>
    <%= f.date_select :born, :order => [:day, :month, :year], :start_year => 1920, :end_year => Time.now.year, "style" => "width:50px"  %>
</div>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email, :placeholder => "jkowalski@gmail.com" %>
</div>
<div class="field">
  <%= f.label :pesel %>
  <%= f.number_field :pesel, :placeholder => "88062542184" %>
</div>
 <div class="field">
  <%= f.label :hasło %>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :Potwierdź_hasło %>
  <%= f.password_field :password_confirmation %>
</div>
<br />
 <div class="actions">
     <button type="submit" class="btn btn-primary">
  	<i class="icon-check"></i> Zarejestruj
     </button>
</div>
<% end %>
