<% if @user.errors.any? %>
  <div id="error_explanation">
    <% if  (@user.errors.count) == 1  %>
      <h4>Użytkownik nie został stworzony z powodu jednego błędu</h4>
    <% elsif (@user.errors.count) > 1 %>
      <h4>Użytkownik nie został stworzony z powodu <%= @user.errors.count %> błędów</h4>
    <% end %>
    <ul style="background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :username, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group col-xs-8">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :username, placeholder: "jkowalski", class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :name_surname, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group col-xs-8">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.text_field :name_surname, placeholder: "Jan Kowalski", class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :born, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <%= f.date_select :born, order: [:day, :month, :year], start_year: 1920, end_year: Time.now.year, class: "form-control", "style" => "width:50px"  %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group col-xs-8">
      <span class="input-group-addon">@</span>
      <%= f.text_field :email, placeholder: "jkowalski@gmail.com", class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :pesel, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group col-xs-8">
      <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
      <%= f.number_field :pesel, placeholder: "88062542184", class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group col-xs-8">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, placeholder: "******", class: "form-control" %>
    </div>
  </div>
</div>

<div class="password_oblicz">
  <span class="col-sm-4"></span>
  <span id="password_time"></span>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class: "col-sm-4 control-label" %>
  <div class="col-sm-8">
    <div class="input-group col-xs-8">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password_confirmation, placeholder: "******", class: "form-control" %>
    </div>
  </div>
</div>
<br />
