<h3><i class="icon-edit"></i> Edycja Profilu</h3>
<%= form_for @user, :html => { :multipart => true, class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <div class="control-group">
    <%= f.label :facebook_ID, class: "control-label" %>
    <div class="controls">
      <div class="field input-prepend">
        <span class="add-on"><i class="icon-facebook"></i></span>
        <%= f.text_field :facebook_id, disabled: true %>
        <%= link_to "/auth/facebook", class: "btn btn-facebook" do %>
          <span class="icon icon-exchange"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        <i class="icon-check"></i> Zapisz
      </button>
    </div>
  </div>
<% end %>
