<script src="/tooltip.js"></script>
<script src="/popover.js"></script>
<h3><i class="icon-user"></i> Lista Użytkowników</h3>
 
<table class="table table-hover">
<thead>
<tr>
<th>Nick</th>
<th>Email</th>
<th title="Zaakceptowany">Zaakcep.</th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
 
<% @users.each do |user| %>
<% if user.username != "superuser" && user.username != "Gosc"  %>
<tr>
<td>
<%= link_to user.username,'', :rel => "popover", "data-img" => user.avatar %>
<%= link_to (user.username), user, :rel => "popover", "data-original-title" => user.username, "data-placement" => "right", "data-html" => "true", "data-content" => "działa" %>
</td>
<td align="center"><%= user.email %></td>
<td align="center">
<b>
    <% if user.potwierdzenie == 1 %> 
	Tak 
    <% elsif user.potwierdzenie == 0 %> 
	Nie 
    <% end %>
</b>
</td>
<td>
    <% if user.potwierdzenie == 1 && current_user.role == "admin" && user.role != "admin" %>
	<%= link_to({:controller => "users", :action => "odwolaj", :id => user.id}, {:class => "btn btn-small btn-danger"}) do %>
  		<i class="icon-thumbs-down"></i> Odwołaj
	<% end %>
    <% elsif user.potwierdzenie == 0 && current_user.role == "admin" && user.role != "admin" %> 
	<%= link_to({:controller => "users", :action => "potwierdz", :id => user.id}, {:confirm => "Czy napewno chcesz potwierdzić użytkownika #{user.username}? \nZostanie wysłany do niego mail z informacją o potwierdzeniu.",:class => "btn btn-small btn-success"}) do %>
  		<i class="icon-thumbs-up"></i> Potwierdź
	<% end %>
    <% end %>
</td>
<td>
	<%= link_to user, :class => "btn btn-small btn-primary" do %>
  		<i class="icon-eye-open"></i> Pokaż
	<% end %>
</td>
<td>
    <% if (user.username == current_user.username) || (current_user.role == "admin" && user.role != "admin") %>
	<%= link_to edit_user_path(user), :class => "btn btn-small btn-inverse" do %>
  		<i class="icon-edit"></i> Edytuj
	<% end %>
    <% end %>
</td>
<td>
    <% if current_user.role == "admin" && user.role != "admin" %>
	<%= link_to user, :confirm => "Czy napewno chcesz usunąć użytkownika #{user.username}?", :method => :delete, :class => "btn btn-small btn-danger" do %>
  		<i class="icon-trash"></i> Usuń
	<% end %>
    <% end %>
</td>
<td>
    <% if current_user.username != user.username %>
	<%= link_to new_user_message_path(user), :class => "btn btn-small btn-success" do %>
		<i class="icon-envelope"></i>
	<% end %>
    <% end %>
</td>
</tr>
<% end %>
<% end %>
</table>
