<p id="notice"><%= notice %></p>

<p style="display:inline">
<%= image_tag(@user.avatar, :class => "img-polaroid", :height => '128', :width => '128') %>
</p>
<h2 style="display:inline-block;margin:80px 0px 30px 20px;">
<%= @user.username %> (<span style="text-transform:none;"><%= @user.name_surname %></span>)
</h2>
<pre>
<p>
  <b><i class="icon-envelope"></i> Email:</b>
  <%= @user.email %>
</p>
<p>
  <b><i class="icon-gift"></i> Urodziny:</b>
  <%= @user.born %>
</p>
<p>
  <b><i class="icon-eye-open"></i> Ostatnia aktywność:</b>
  <%= @user.last_request_at %>
</p>
</pre>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
