<p style="display:inline">
<%= image_tag(@user.avatar, :class => "img-polaroid", :height => '128', :width => '128') %>
</p>

<h2 style="display:inline-block;margin:80px 0px 30px 20px;">
<%= @user.username %> (<span style="text-transform:none;"><%= @user.name_surname %></span>)
</h2>

<div class="well">

	<div style="display:inline-block;padding:10px;">
  		<b><i class="icon-envelope"></i> Email:</b>
  		<%= @user.email %>
	</div>

	<div style="display:inline-block;padding:10px;">
  		<b><i class="icon-gift"></i> Urodziny:</b>
  		<%=I18n.l @user.born, :format => "%d %B %Y" %>
	</div>

<br>

<% if @user.login_count > 0 %>
	<div style="display:inline-block;padding:10px;">
  		<b><i class="icon-sort"></i> Liczba logowań:</b>
  		<%= @user.login_count %>
	</div>

	<% if current_user.role == "admin" %>
	<div style="display:inline-block;padding:10px;">
  		<b><i class="icon-ban-circle"></i> Liczba nieudanych logowań:</b>
  		<%= @user.failed_login_count %>
	</div>
	<% end %>

	<div style="display:inline-block;padding:10px;">
  		<b><i class="icon-eye-open"></i> Ostatnia aktywność:</b>
  		<%=I18n.l @user.last_request_at, :format => :long   %>
	</div>

	<% if current_user.role == "admin" %>
	<div style="display:inline-block;padding:10px;">
  		<b><i class="icon-globe"></i> Ostatnia logowanie z IP:</b>
  		<%= @user.last_login_ip %>
	</div>
	<% end %>
<% end %>

</div>

<%= link_to new_user_message_path(@user), class: "btn btn-primary input-medium pull-left" do %>
	<i class="icon-share"></i> Wyślij wiadomość
<% end %>
