<%= tinymce_assets %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
    <% if  (@tournament.errors.count) == 1  %>
      <h4>Turniej klubowy nie został stworzony z powodu jednego błędu</h4>
    <% elsif (@tournament.errors.count) > 1 %>
        <h4>Turniej klubowy nie został stworzony z powodu <%= @tournament.errors.count %> błędów</h4>
    <% end %>
      <ul style="background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <br>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-xs-12">
      <%= f.text_field :nazwa, :placeholder => "Nazwa Turnieju Klubowego", class: "col-sm-10 form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Otwarcie Turnieju", class: "col-sm-3 control-label" %>
    <div class="input-group col-xs-9">
      <span class="input-group-addon"><i class="fa fa-flag-o"></i> </span>
      <%= f.date_select :termin_start, :order => [:day, :month, :year], :start_year => 2000, :end_year => Time.now.year+1, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Zakończenie Turnieju", class: "col-sm-3 control-label" %>
    <div class="input-group col-xs-9">
      <span class="input-group-addon"><i class="fa fa-flag-checkered"></i> </span>
      <%= f.date_select :termin_end, :order => [:day, :month, :year], :start_year => 2000, :end_year => Time.now.year+1, class: "form-control" %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label "Opis Turnieju w języku Polskim" %>
    <%= f.text_area :opis_pl, :class => "tinymce", :rows => 10, :cols => 12 %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label "Opis Turnieju w języku Angielskiem" %>
    <%= f.text_area :opis_en, :class => "tinymce", :rows => 10, :cols => 12 %>
  </div>
  
<%= tinymce :language => "pl", :entity_encoding => "raw" %>
