<% if current_user %>
	<h3>Aktualności Ogólne</h3>
<% else %>
	<h3><%= t 'navi_news' %></h3>
<% end %>

<%= form_tag request.path, :method => 'get', :id=>"custom-search-form", :class=>"form-search form-horizontal pull-right" do %>
  <div class="input-append">
  	<%= text_field_tag :search, params[:search], :class=>"search-query", :placeholder=>"Szukaj.." %>
	<button type="submit" class="btn"><i class="icon-search"></i></button>
  </div>
<% end %>
				<ul class="list3">
				<% if @news.count == 0 %>
				<br><br>
				<pre>Brak Aktualności ..</pre>
				<% else %>
				<% @news.each do |news| %>
				   <% @album = @albumy_z_news.detect{|w| w.przydzial_id == news.id} %>
				   <% @liczba_zdjec = Image.find_all_by_nr_albumu(@album.id) if @album != nil %>
					<li style="background:url('http://a.wpimg.pl/a/i/supersport/2012/line.png') repeat-x scroll 0px 5% transparent;"><span><em><%= image_tag("icon4.gif") %></em></span><b><%= link_to news.tytul, news %></b>
				        <% if (I18n.locale == I18n.default_locale) || (I18n.locale != I18n.default_locale && news.tekst_en.size < 15) %>
					<%= (strip_tags(news.tekst_pl))[0..300]+"..." %>
					<% else %>
					<%= (strip_tags(news.tekst_en))[0..300]+"..." %>
					<% end %>
					<br />

					<div class="dashboard_data">
					<i class="icon-calendar"></i> <%= t 'public' %>: <%= news.created_at.strftime("%d.%m.%Y %H:%M") %> <i class="icon-comments-alt"></i> <%= news.comment_threads.count %>  <i class="icon-picture"></i> <%= (@liczba_zdjec.count if @album != nil)||"0" %>
					</div>

					<div style="float:right;">
					<%= link_to news, :class => "btn btn-small" do %>
  						 <%= t 'read_more' %> »
					<% end %>
    				<% if current_user && current_user.role == "admin" %>
					<%= link_to edit_news_path(news), :class => "btn btn-small btn-inverse" do %>
  						<i class="icon-edit"></i> Edytuj
					<% end %>
					<%= link_to news, :confirm => "Czy napewno chcesz usunąć aktualność ogólną '#{news.tytul}' wraz z wszystkimi komentarzami?", :method => :delete, :class => "btn btn-small btn-danger" do %>
  						<i class="icon-trash"></i> Usuń
					<% end %>
				<% end %>
					</div>
					</li>
				<% end %>
				<% end %>
				</ul>

<% if @news.count > 10 %>
  <div id="blog-pager" class="blog-pager">
    <%= will_paginate @news, :container => false %>
  </div>
<% end %>
