<% content_for :facebook do %>
  <meta property="og:title" content="<%= @news.tytul %>" />
  <meta property="og:url" content="<%= news_url(@news).split("?")[0] %>" />
  <% if (I18n.locale == I18n.default_locale) || (I18n.locale != I18n.default_locale && @news.tekst_en.size < 15) %>
    <meta property="og:description" content="<%= strip_tags(@news.tekst_pl).html_safe %>" />
  <% else %>
    <meta property="og:description" content="<%= strip_tags(@news.tekst_en).html_safe %>" />
  <% end %>
<% end %>

<h3><%= @news.tytul %></h3>

<div class="tekst_pl">
  <div class="redactor_editor">
  <% if (I18n.locale == I18n.default_locale) || (I18n.locale != I18n.default_locale && @news.tekst_en.size < 15) %>
    <%= raw(@news.tekst_pl) %>
  <% else %>
    <%= raw(@news.tekst_en) %>
  <% end %>
  </div>
</div>

<br>

<% if @album != nil %>
  <%= link_to @album,:class => "btn btn-small btn-primary","style"=>"float:right;" do %>
    <i class="fa fa-picture-o"></i> <%= t 'go_to_album' %> »
  <% end %>
<% end %>

<div style="display:block">
  <div class="share_me"></div>

  <center style="inline-block">
    <%= t 'comments' %>: <%= @all_comments.count %>
  </center>
</div>

<hr>

<% if @all_comments.count == 0 %>
  <%= t 'comments_not_yet' %>
<% end %>

<% @all_comments.each do |comment| %>
  <% @user = User.find(comment.user_id) %>

  <% if @user.potwierdzenie == 0 %>
    <% @user.username = comment.body.lines.first %>
  <% end %>

  <div class="comment">
    <div class="comment_avatar">
      <%= image_tag(@user.avatar, "style" => "margin:5px;width:50px;height:50px;") %>
    </div>

    <div class="comment_user">
      <u><%= link_to @user.username, @user, "style"=>"font-weight:bold;" %> <%=I18n.l comment.created_at, :format => :long %></u> |
      <button id=<%= comment.id %> class="comment_reply btn btn-xs btn-default" title="<%= @user.username %>"><i class="fa fa-reply"></i></button>

      <% if current_user && current_user.role == "admin" %>
        <%= link_to({:controller => "news", :action => "destroy_comment", :id => comment.id}, {:confirm => "Czy napewno chcesz usunąć komentarz użytkownika #{@user.username}? \nZostaną również usunięte wszystkie odpowiedzi na ten komentarz.", :class => "btn btn-sm btn-default"}) do %>
          <i class="fa fa-trash-o" style="float:right;"></i>
        <% end %>
      <% end %>

      <br />
      <% if @user.potwierdzenie == 0 %>
        <%= Obscenity.sanitize(comment.body.sub(@user.username, '')) %>
      <% else %>
        <%= Obscenity.sanitize(comment.body) %>
      <% end %>
    </div>
  </div>
  <% if comment.has_children? %>
    <% comment.children.each do |children| %>
      <% @user_children = User.find(children.user_id) %>

      <% if @user_children.potwierdzenie == 0 %>
        <% @user_children.username = children.body.lines.first %>
      <% end %>

      <div class="comment">
        <div class="comment_reply_user">
          <% if @user_children.potwierdzenie == 0 %>
            <%= Obscenity.sanitize(children.body.sub(@user_children.username, '')) %> -
          <% else %>
            <%= Obscenity.sanitize(children.body) %> -
          <% end %>
          <%= link_to @user_children.username, @user_children, "style"=>"font-weight:bold;" %> <%=I18n.l comment.created_at, :format => :short %>
          <% if current_user && current_user.role == "admin" %>
            <%= link_to({:controller => "news", :action => "destroy_comment", :id => children.id}, {:confirm => "Czy napewno chcesz usunąć komentarz użytkownika #{@user_children.username}?"}) do %>
              <i class="fa fa-times-circle-o" style="float:right;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<hr>

<p id="comment_reply_username"></p>
<div class="comment row">
  <%= form_tag({controller: "news", action: "add_comment"}) do %>
    <%= hidden_field_tag "id", @news.id %>
    <%= hidden_field_tag "parrent_id" %>

    <% if current_user %>
      <%= image_tag(current_user.avatar, :class => "img-rounded col-md-2", :width => "70", "style" => "margin:5px;") %>
    <% else %>
      <div class="col-md-12">
        <div class="col-md-2">
          <%= label_tag "Nick", nil, class: "pull-right", "style" => "display:inline-block;font-size:17px;" %>
        </div>
        <div class="col-md-9">
          <%= text_field_tag "guest_name",nil, class: "pull-left", "style" => "display:inline-block;" %>
        </div>
      </div>
      <div class="col-md-2">
        <%= image_tag("/avatar.jpg", :class => "img-rounded", "style" => "margin:5px;width:70px;height:70px;") %>
      </div>
    <% end %>

    <div class="col-md-9">
      <%= text_area_tag :komentarz, nil, :rows => 3, class: "form-control counted" %>
      <h6 class="col-md-6" id="counter">500 znaków pozostało</h6>
      <button type="submit" class="btn btn-sm btn-success pull-right">
        <i class="fa fa-comment"></i> Dodaj komentarz
      </button>
    </div>
  <% end %>
</div>

<%= link_to "/news",:class => "btn btn-sm btn-primary" do %>
  <i class="fa fa-share"></i> <%= t 'back_to_list' %>
<% end %>

<% if current_user && current_user.role == "admin" %>
  <%= link_to edit_news_path(@news),:class => "btn btn-sm btn-primary" do %>
    <i class="fa fa-edit"></i> Edytuj
  <% end %>

  <%= link_to "#image_upload", "data-toggle"=>"modal",:class => "btn btn-sm btn-primary" do %>
    <i class="fa fa-picture-o"></i> Dodaj Zdjęcie
  <% end %>
<% end %>

<div id="image_upload" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">
      <i class="fa fa-times-circle"></i>
    </a>
    <h3>Dodawanie Zdjęcia do Aktualności Ogólnej</h3>
  </div>
  <div class="modal-body">
    <center>
      <%= form_tag({:controller => "images", :action => "create"}, :method => :post, :multipart => true) do %>
        <%= text_field_tag :przydzial, "news", "style"=>"display:none"%>
        <%= text_field_tag :przydzial_id, @news.id, "style"=>"display:none"%>
        <%= image_tag("spacer.gif", :class=>"img-polaroid",:id=>"ftk",:width=>"170px;") %>
        <br>
        <span class="label label-info" style="margin:10px;">
          ** Rozmiar zdjęcia nie wiekszy niż 200 kB
        </span>
        <br>
        <%= text_area_tag :opis,nil, "style"=>"width:80%", :placeholder => "Krótki opis do zdjęcia..." %>
    </center>
  </div>
  <div class="modal-footer" id="stopka_image_add">
    <div>
      <div class="myfileupload-buttonbar">
        <label class="myui-button" style="float:left;">
          <span class="btn btn-success">
            <i class="icon-folder-open-alt"></i>
            Wybierz Zdjęcie
          </span>
          <%= file_field_tag "file", "style"=>"height:40px;display:none;", "onchange"=>"readURL(this);" %>
        </label>
      </div>
    </div>

        <%= button_tag(type: "submit", class: "btn btn-primary", :id=>"start") do %>
          <i class="fa fa-upload fa-invert"></i> Dodaj Zdjęcie
        <% end %>
  </div>
      <% end %>
</div>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#ftk').attr('src', e.target.result).width(170).height(170);
    };
    reader.readAsDataURL(input.files[0]);
  }
}

$(".comment_reply").click(function () {
  var text = this.id
  var parent = this.title

  $("#parrent_id").val(text);
  $("p#comment_reply_username").text('Odpowiadasz na komentarz: ' + parent);
});

$('.share_me').share({
  button_text: 'Udostępnij'
})
</script>

<script>
(function($) {
 $.fn.charCounter = function (max, settings) {
 max = max || 100;
 settings = $.extend({
   container: "<span></span>",
   classname: "charcounter",
   format: "(%1 znaków pozostało)",
   pulse: true,
   delay: 0
 }, settings);
 var p, timeout;

 function count(el, container) {
 el = $(el);
 if (el.val().length > max) {
   el.val(el.val().substring(0, max));
   if (settings.pulse && !p) {
     pulse(container, true);
   };
 };
 if (settings.delay > 0) {
   if (timeout) {
     window.clearTimeout(timeout);
   }
   timeout = window.setTimeout(function () {
       container.html(settings.format.replace(/%1/, (max - el.val().length)));
       }, settings.delay);
 } else {
   container.html(settings.format.replace(/%1/, (max - el.val().length)));
 }
 };

 function pulse(el, again) {
   if (p) {
     window.clearTimeout(p);
     p = null;
   };
   el.animate({ opacity: 0.1 }, 100, function () {
     $(this).animate({ opacity: 1.0 }, 100);
   });
   if (again) {
     p = window.setTimeout(function () { pulse(el) }, 200);
   };
 };

 return this.each(function () {
   var container;
   if (!settings.container.match(/^<.+>$/)) {
     container = $(settings.container);
   } else {
     $(this).next("." + settings.classname).remove();
     container = $(settings.container)
     .insertAfter(this)
     .addClass(settings.classname);
   }
   $(this)
   .unbind(".charCounter")
   .bind("keydown.charCounter", function () { count(this, container); })
   .bind("keypress.charCounter", function () { count(this, container); })
   .bind("keyup.charCounter", function () { count(this, container); })
   .bind("focus.charCounter", function () { count(this, container); })
   .bind("mouseover.charCounter", function () { count(this, container); })
   .bind("mouseout.charCounter", function () { count(this, container); })
   .bind("paste.charCounter", function () { 
     var me = this;
     setTimeout(function () { count(me, container); }, 10);
   });
   if (this.addEventListener) {
     this.addEventListener('input', function () { count(this, container); }, false);
   };
   count(this, container);
 });
};
})(jQuery);

$(function() {
  $(".counted").charCounter(500,{container: "#counter"});
});
</script>
