
  <% if ccccc.errors.any? %>
    <div id="error_explanation">
      <% if  (@album.errors.count) == 1  %>
      <h4>Użytkownik nie został stworzony z powodu jednego błędu</h4>
    <% elsif (@album.errors.count) > 1 %>
        <h4>Użytkownik nie został stworzony z powodu <%= @album.errors.count %> błędów</h4>
    <% end %>

      <ul style="background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="controls">
	<div class="field input-prepend">
    		<%= f.label "Tytuł Albumu" %>
    		<span class="add-on"><i class="icon-tag"></i></span>
    		<%= f.text_field :tytul %>
  	</div>
</div>


<div class="controls">
	<div class="field input-prepend">
    		<%= f.label "Termin Albumu" %>
    		<span class="add-on"><i class="icon-calendar"></i></span>
    		<%= f.date_select :termin, :order => [:day, :month, :year], :start_year => 1920, :end_year => Time.now.year %>
  	</div>
</div>

  <div class="field" style="display:none">
    <%= f.text_field :przydzial, :value => "album" %>
  </div>
  <div class="field" style="display:none">
    <%= f.number_field :przydzial_id, :value => @album.id %>
  </div>
<br />
