
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="controls">
	<div class="field input-prepend">
    		<%= f.label "Tytuł Albumu" %>
    		<span class="add-on"><i class="icon-user"></i></span>
    		<%= f.text_field :tytul %>
  	</div>
</div>


<div class="controls">
	<div class="field input-prepend">
    		<%= f.label "Termin Albumu" %>
    		<span class="add-on"><i class="icon-calendar"></i></span>
    		<%= f.date_select :termin, :order => [:day, :month, :year], :start_year => 1920, :end_year => Time.now.year %>
  	</div>
</div>

  <div class="field" style="display:none">
    <%= f.text_field :przydzial, :value => "album" %>
  </div>
  <div class="field" style="display:none">
    <%= f.number_field :przydzial_id, :value => @album.id %>
  </div>
<br />
