<h3><i class="icon-book"></i> Album <%= @album.tytul %></h3>

<%= form_tag destroy_multiple_images_path, method: :delete do %>

<% @zdjecia.each do |zdjecie| %>

<div style="display: inline-block;">
<a class="fancybox" href="http://images.gdanskcurlingclub.pl/<%= zdjecie.nazwa %>" title="<%= zdjecie.opis %>" target="_blank">
<%= image_tag("http://images.gdanskcurlingclub.pl/#{zdjecie.nazwa}", :class => "img-polaroid album_zdjecie") %>
</a>

  <% if current_user && current_user.role == "admin" %>
  
       <%= check_box_tag "images[]", zdjecie.id, false, :class => "image_check_del" %>
       
       <%= link_to zdjecie, method: :delete, data: { confirm: "Czy napewno chcesz usunąć zdjecie '#{zdjecie.nazwa}'?" }, :class => "btn btn-mini image_del" do %>
	    <i class="icon-trash"></i>
       <% end %>
       
  <% end %>
</div>
<% end %>

  <% if current_user && current_user.role == "admin" %>
  <div>
     <button type="submit" class="btn btn-primary">
  	<i class="icon-check"></i> Usuń Zaznaczone
     </button>
  </div>
  <% end %>
<% end %>


<div>
<%= link_to  "/galeria", :class => "btn btn-small btn-primary" do %>
	<i class="icon-share-alt"></i> <%= t 'back_to_list' %>
<% end %>

<% if current_user && current_user.role == "admin" %>
<%= link_to "#image_upload", "data-toggle"=>"modal",:class => "btn btn-small btn-primary" do %>
	<i class="icon-picture"></i> Dodaj Zdjęcie
<% end %>
<% end %>
<% if @zdjecia.count > 30 %>
<br />
<br />
<div id="blog-pager" class="blog-pager">
<%= will_paginate @zdjecia, :container => false %>
</div>
<% end %>
</div>

<div id="image_upload" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">
		<i class="icon-remove-circle"></i>
	      </a>
              <h3>Dodawanie Zdjęcia do Albumu</h3>
            </div>
            <div class="modal-body">
<center>
<%= form_tag({:controller => "images", :action => "create"}, :method => :post, :multipart => true) do %>
	<%= text_field_tag :przydzial, @album.przydzial, "style"=>"display:none"%>
	<%= text_field_tag :przydzial_id, @album.przydzial_id, "style"=>"display:none"%>
	<output id="list"></output>
	<br>
	<span class="label label-info" style="margin:10px;">
		** Rozmiar zdjęcia nie wiekszy niż 200kB <br>
		   Zaleca się maksymalnie 10 zdjęć na raz
	</span>
	<br>
	<%= text_area_tag :opis,nil, "style"=>"width:80%", :placeholder => "Krótki opis do zdjęcia..." %>
</center>
            </div>
            <div class="modal-footer" id="stopka_image_add">
            	<div>
  		   <div class="myfileupload-buttonbar">
     			<label class="myui-button" style="float:left;">
        		  <span class="btn btn-success">
			  <i class="icon-folder-open-alt"></i> 
			  Wybierz Zdjęcie
			  </span>
			  <%= file_field_tag "file", "style"=>"height:40px;display:none;", "onchange"=>"readURL(this);", :multiple => true, :name => "file[]", :accept => 'image/png,image/gif,image/jpeg' %>
     			</label>
  		   </div>
		</div>
		
            	<%= button_tag(type: "submit", class: "btn btn-primary", :id=>"start") do %>
    			<i class="icon-upload icon-white"></i> Dodaj Zdjęcie
  		<% end %>
            </div>
<% end %>
</div>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('file').addEventListener('change', handleFileSelect, false);
</script>
