<h3><i class="fa fa-book"></i> Album <%= @album.tytul %></h3>

<%= form_tag destroy_multiple_images_path, method: :delete do %>
  <% @zdjecia.each do |zdjecie| %>
    <div style="display: inline-block;">
      <a class="fancybox" href="http://images.gdanskcurlingclub.pl/<%= zdjecie.nazwa %>" title="<%= zdjecie.opis %>" target="_blank">
        <%= image_tag("http://images.gdanskcurlingclub.pl/#{zdjecie.nazwa}", :class => "img-thumbnail album_zdjecie") %>
      </a>

      <% if current_user && current_user.role == "admin" %>
         <%= check_box_tag "images[]", zdjecie.id, false, :class => "image_check_del" %>

         <%= link_to zdjecie, method: :delete, data: { confirm: "Czy napewno chcesz usunąć zdjecie '#{zdjecie.nazwa}'?" }, :class => "btn btn-xs btn-default image_del" do %>
            <i class="fa fa-trash-o"></i>
         <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user && current_user.role == "admin" && !@zdjecia.blank? %>
    <div>
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-check-square-o"></i> Usuń Zaznaczone
      </button>
    </div>
  <% end %>
<% end %>

<div>
  <%= link_to  "/galeria", :class => "btn btn-sm btn-primary" do %>
    <i class="fa fa-share"></i> <%= t 'back_to_list' %>
  <% end %>

  <% if current_user && current_user.role == "admin" %>
    <%= link_to "#image_upload", "data-toggle"=>"modal",:class => "btn btn-sm btn-primary" do %>
      <i class="fa fa-picture-o"></i> Dodaj Zdjęcie
    <% end %>
  <% end %>

  <% if @zdjecia.count > 30 %>
    <br /><br />
    <div id="blog-pager" class="blog-pager">
      <%= will_paginate @zdjecia, :container => false %>
    </div>
  <% end %>
</div>

<%= render "shared/add_image" %>
