<%= tinymce_assets %>
  <% if @dashboard.errors.any? %>
    <div id="error_explanation">
    <% if  (@dashboard.errors.count) == 1  %>
      <h4>Aktualmność klubowa nie została stworzona z powodu jednego błędu</h4>
    <% elsif (@dashboard.errors.count) > 1 %>
        <h4>Aktualmność klubowa nie została stworzona z powodu <%= @dashboard.errors.count %> błędów</h4>
    <% end %>
      <ul style="background:none repeat scroll 0% 0% rgb(245, 245, 245);padding:10px;">
      <% @dashboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :tytul, :placeholder => "Tytuł Aktualności Klubowej", "style" => "width:97%" %>
  </div>

  <div class="field">
    <%= f.text_area :tekst, :class => "tinymce", :rows => 10, :cols => 12 %>
  </div>
  
<%= tinymce :language => "pl", :entity_encoding => "raw" %>
