<h3>Lista Aktualności Klubowych</h3>
				<ul class="list3">
				<% @dashboards.each do |dashboard| %>
					<li><span><em><%= image_tag("icon4.gif") %></em></span><b><%= link_to dashboard.tytul, dashboard %></b><%= strip_tags(dashboard.tekst[0..300])+"..." %><br />

					<div style="float:left;display:inline-block;">
					<i class="icon-calendar"></i> Opublikowano: <%= dashboard.created_at, :format => "%d-%m-%Y %H:%M" %>
					</div>

					<div style="float:right;">
					<%= link_to dashboard, :class => "btn btn-small" do %>
  						 Czytaj więcej »
					<% end %>
    				<% if current_user.role == "admin" %>
					<%= link_to edit_dashboard_path(dashboard), :class => "btn btn-small btn-inverse" do %>
  						<i class="icon-edit"></i> Edytuj
					<% end %>
					<%= link_to dashboard, :confirm => "Czy napewno chcesz usunąć aktualność klubową #{dashboard.tytul}?", :method => :delete, :class => "btn btn-small btn-danger" do %>
  						<i class="icon-trash"></i> Usuń
					<% end %>
				<% end %>
					</div>
					</li>
				<% end %>
				</ul>

<%= link_to 'New Dashboard', new_dashboard_path %>
