<!DOCTYPE html>
<html>
<head>
  <title>Gdańsk Curling Club</title>
  <link href="/stone.png" rel="icon" type="image/x-icon">
  <script type="text/javascript" src="/whcookies.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= auto_discovery_link_tag(:atom, news_path(:atom)) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta property="fb:app_id" content="239206996247022" />
  <meta property="og:site_name" content="Gdańsk Curling Club"/>
  <meta property="og:image" content="<%= image-url('logo.gif') %>" />
  <meta property="og:type" content="website" />
  <%= yield :facebook %>
</head>

<body>
<div class="rotate">
</div>
<div id="main">
<!-- HEADER -->
	<div id="header">	
		<div class="site-nav">
			<ul>
				<li class="style1"><a href="/" class="act"><span>Start</span></a></li>
				<li class="style2 dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><span><%= t 'navi_about' %></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to media_path,"tabindex"=>"-1" do %>
                <%= t 'navi_media' %>
              <% end %>
            </li>
            <li>
              <a tabindex="-1" data-toggle="modal" href="#dojazd">
                <%= t 'navi_access' %>
              </a>
            </li>
            <li>
              <%= link_to "/about","tabindex"=>"-1" do %>
                <%= t 'navi_about_info' %>
              <% end %>
            </li>
          </ul>
				</li>
				<li class="style3"><a href="/news"><span><%= t 'navi_news' %></span></a></li>
				<li class="style5"><a href="/galeria"><span><%= t 'navi_gallery' %></span></a></li>
				<li class="style4"><a href="/kontakt"><span><%= t 'navi_contact' %></span></a></li>
			</ul>
		</div>
		<div class="logo">
			<div class="napis">
			Gdańsk<br>
			Curling<br>
			Club
			</div>
			<a href="/">
				<%= image_tag("logo.gif") %>
			</a>
		</div>
	</div>
<!-- FB LIKE BOX i Google BOX-->
  <div class="abtgbox">
    <div>
    <div class="g-person" data-width="273" data-href="//plus.google.com/103973029720134167563" data-layout="landscape" data-rel="author">
    </div>
    </div>
  </div>
  <div class="abtlikebox">
   <div>
     <iframe src="http://www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/pages/Gda%C5%84sk-Curling-Club/158911320799558&amp;width=245&amp;colorscheme=light&amp;show_faces=true&amp;border_color=white&amp;connections=9&amp;stream=false&amp;header=false&amp;height=270" scrolling="no" frameborder="0" scrolling="no" style="border: white; overflow: hidden; height: 270px; width: 245px;background:#fafafa;"></iframe>
   </div>
  </div>

<!-- CONTENT -->
	<div id="content">
		<div class="wrapper">
		
			<%= render 'layouts/notice' %>

			<div align="right" style="margin-top: 5px;">
        <div style="display:inline;float:left;margin-left:8px;">
          <%= link_to '/news.atom', :class => "btn btn-mini btn-warning" do %>
            <i class="icon-rss"></i> <%= t 'navi_news' %>
          <% end %>
          
          <% if current_user %>
            <%= link_to '/dashboards.atom', :class => "btn btn-mini btn-warning" do %>
              <i class="icon-rss"></i> Aktualności Klubowe
            <% end %>
          <% end %>
          
          <%= link_to '/rss_comments.atom', :class => "btn btn-mini btn-warning" do %>
            <i class="icon-rss"></i> <%= t 'comments' %>
          <% end %>
        </div>
        <% if I18n.locale == I18n.default_locale %>
          <%= image_tag("flag_pl.png", :class=>"btn btn-mini disabled", :title => "Polski") %>
          <%= link_to :locale=>'en' do %>
            <%= image_tag("flag_en.png", :class=>"btn btn-mini", :title => "English") %>
          <% end %>
        <% else %>
          <%= link_to :locale=>'pl' do %>
            <%= image_tag("flag_pl.png", :class=>"btn btn-mini", :title => "Polski") %>
          <% end %>
          <%= image_tag("flag_en.png", :class=>"btn btn-mini disabled", :title => "English") %>
        <% end %>
        <div style="display:inline-block;width:200px;margin-right:10px;">
          <%= t 'visits' %>: 
          <img src="http://www.darmowylicznik.pl/licznik.php?id=87854" alt="Darmowy licznik odwiedzin" style="border:0px; width:100px; height:20px;margin:-2px -35px;">
          <script language="JavaScript">var adpol='<counter absolute;top:-1000px;">';var adpol2=adpol.replace('counter','div style="position:'); document.write(adpol2);</script>
          <script language="JavaScript"> document.write('</div>') </script>
        </div>
        <%= t 'today' %>: <%= I18n.l Time.now, :format => "%A, %d %B, %Y" %>
      </div>
			<br>
			<div class="col-1" style="margin-top:-10px">
        <!-- LOGIN USER SIDE MENU -->
			  <% if current_user %>
			    <div class="tabbable tabs-left adminpanel">
            <ul class="nav nav-tabs">
              <% if current_page?("/") %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
              <a href="/"><i class="icon-home"></i> Start</a>
              </li>

              <% if current_page?(user_messages_path(current_user)) %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
              <%= link_to user_messages_path(current_user) do %>
              <i class="icon-inbox"></i> Skrzynka 
              <% if current_user.unread_messages? %>
                (<%= current_user.unread_message_count %>)
                <% end %>
              <% end %>
              </li>

              <% if current_page?(user_messages_path(current_user, :mailbox => :sent)) %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
              <%= link_to user_messages_path(current_user, :mailbox => :sent) do %>
                <i class="icon-envelope"></i> Wysłane
              <% end %>
              </li>

              <% if current_page?("/users") %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
              <%= link_to users_path do %>
                <i class="icon-group"></i> Użytkownicy
              <% end %>
              </li>

              <% if current_page?(dashboards_path) %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
              <%= link_to dashboards_path do %>
                <i class="icon-info-sign"></i> Inf. Klubowe
              <% end %>
              </li>

              <% if current_user.role == "admin" %>
                <% if current_page?("/admin_panel") %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                <%= link_to "/admin_panel" do %>
                  <i class="icon-wrench"></i> Ustawienia
                <% end %>
              <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <!-- END LOGIN USER SIDE MENU -->
				<br>
				<div class="box">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
								<h3>Newsletter:</h3>
								<a class="info-box" data-placement="top" rel="tooltip" title="<%= t('tooltip.newsletter') %>">
								<i class="icon-question-sign"></i>
								</a>
								<div class="center text-center">
									
 									<div class="input-prepend"><span class="add-on"><i class="icon-envelope-alt"></i></span>
									<input type="text" id="" name="" placeholder="<%= t('newsletter.placeholder') %>">
									</div>
									<br />
									<button class="btn btn-large btn-primary">
								<%= t 'newsletter.submit' %> <i class="icon-exclamation"></i>
									</button>	
									<br><br	>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box" style="display:none;">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
									<h3>Kalendarz Imprez:</h3>
									<ul class="list">
										<li><b><a href="#">February 15, 2010</a></b>Sed ut perspiciatis unde omnis iste natus	dolorque laudantium aperiam.</li>
										<li><b><a href="#">February 07, 2010</a></b>Eaque ipsa quae ab illo inventore veritatis explicabo emo enim.</li>
										<li><b><a href="#">January 31, 2010</a></b>Gpsam voluptatem quia voluptas sit ed quia consequuntur magni dolores eos qui.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="box">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
									<h3><%= t 'sponsors' %>:</h3>
									<a class="info-box" data-placement="top" rel="tooltip" title="<%= t('tooltip.sponsors') %>">
									<i class="icon-question-sign"></i>
									</a>
									<div id="slideshow">
									<div>
									<%= link_to("http://www.alebrowar.pl/pl/gosciszewo/", "target"=>"_blank") do %>
										<%= image_tag("browar.png") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.media-mag.pl/", "target"=>"_blank") do %>
										<%= image_tag("mm.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.gdansk.pl/", "target"=>"_blank") do %>
										<%= image_tag("gdansk.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.gedanum.pl/", "target"=>"_blank") do %>
										<%= image_tag("gedanum.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.gak.gda.pl/", "target"=>"_blank") do %>
										<%= image_tag("gak.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.zpcbaltyk.pl/", "target"=>"_blank") do %>
										<%= image_tag("baltyk.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://cukierniawz.pl/", "target"=>"_blank") do %>
										<%= image_tag("cukiernia.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.malinowyogrod.pl/", "target"=>"_blank") do %>
										<%= image_tag("malinowy.jpg") %>
									<% end %>
									</div>
									<div>
									<%= link_to("http://www.bzwbk.pl/", "target"=>"_blank") do %>
										<%= image_tag("BZWBK.jpg") %>
									<% end %>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="box">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
									<h3><%= t 'links' %>:</h3>
									<a class="info-box" data-placement="top" rel="tooltip" title="<%= t('tooltip.links') %>">
									<i class="icon-question-sign"></i>
									</a>
									<center>
									<%= link_to("http://www.curlingcalendar.com/", "target"=>"_blank") do %>
										<%= image_tag("cc.png") %>
									<% end %>
									<br /><br />
									<%= link_to("http://www.pzc.org.pl/", "target"=>"_blank") do %>
										<%= image_tag("PZC.jpg") %>
									<% end %>
									<br /><br />
									<%= link_to("http://bracelet-by-sis.art-madam.pl/", "target"=>"_blank") do %>
										<%= image_tag("bracelet-by-sis.jpg", "style"=>"width:90px;height:90px;",:class=>"img-rounded") %>
									<% end %>
									<br /><br />
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="box">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
									<h3><%= t 'games' %>:</h3>
									<a class="info-box" data-placement="top" rel="tooltip" title="<%= t('tooltip.games') %>">
									<i class="icon-question-sign"></i>
									</a>
									<center>
									<%= link_to("http://www.cbc.ca/littlemosque/curling/game.html", "target"=>"_blank") do %>
										<%= image_tag("icon4.gif") %><br>Let's Currrrl
									<% end %>
									<br /><br />
									<%= link_to("http://www.kongregate.com/games/hotshotcurling/curling-simulation", "target"=>"_blank") do %>
										<%= image_tag("icon4.gif") %><br>Curling simulation
									<% end %>
									<br /><br />
									<%= link_to("http://gryonline.focus.pl/game,play,139.html", "target"=>"_blank") do %>
										<%= image_tag("icon4.gif") %><br>Virtual Curling
									<% end %>
									<br /><br />
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2">
			<br>
				<%= yield %>
			</div>
		</div>
	</div>

<!-- FOOTER -->
	<div id="footer">
		<div class="indent">
			<div class="fleft">Copyright © 2013 gdanskcurlingclub.pl</div>
			<div align="center" style="display:inline-block;width:55%;">
			<% if current_user %>
				<i class="icon-user"></i> <%= link_to current_user.username, edit_user_path(current_user.id) %> |
				<i class="icon-off"></i> <%= link_to "Wyloguj", :logout %>
			<% else %>
				<i class="icon-signin"></i> 
				 <%= link_to :login do %>
				 	<%= t 'sign_in' %>
				 <% end %> |
				<i class="icon-edit"></i>
				 <%= link_to new_user_path do %>
				 	<%= t 'register' %>
				 <% end %>
			<% end %>
			</div>
			<div class="fright">
			Projekt: <%= link_to "Miłosz Osiński" , "http://m1l05z.pl", "target"=>"_blank", :class => "rlink" %> 
			</div>
		</div>
	</div>
</div>
<div class="circle">
</div>
<div id="dojazd" class="modal hide fade">
  <div class="modal-body">
    <a class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
    <div class="row-fluid">
      <div class="span8">
        <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Lodowisko+miejskie,+Plac+Zebra%C5%84+Ludowych,+Gda%C5%84sk&amp;aq=0&amp;oq=Lodowisko+miejskie,&amp;sll=54.380938,18.606806&amp;sspn=0.054586,0.157928&amp;ie=UTF8&amp;hq=Lodowisko+miejskie,&amp;hnear=Plac+Zebra%C5%84+Ludowych,+Gda%C5%84sk,+pomorskie&amp;t=m&amp;ll=54.361298,18.642146&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
      </div>
      <div class="span4">
        <h2><i class="icon-map-marker"></i></h2>
        <address>
          <strong>Gdańsk Curling Club</strong><br>
          Plac Zebrań Ludowych<br>
          (Lodowisko Miejskie)<br>
          80-309 Gdańsk<br>
          <abbr title="Phone"><i class="icon-phone"></i>:</abbr> 602-230-045
        </address>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pl'}
</script>
</body>
</html>
