<!DOCTYPE html>
<html>
<head>
  <title>Gdańsk Curling Club</title>
  <link href="/stone.png" rel="icon" type="image/x-icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
<!-- HEADER -->
	<div id="header">	
		<div class="site-nav">
			<ul>
				<li class="style1"><a href="/" class="act"><span>Start</span></a></li>
				<li class="style2 dropdown"><a href="about-us.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><span>O Klubie</span></a>
				<ul class="dropdown-menu">
          				<li><a tabindex="-1" href="#">Media</a></li>
          				<li><a tabindex="-1" href="sitemap.html">Dojazd</a></li>
        </ul>
				</li>
				<li class="style3"><a href="articles.html"><span>Aktualności</span></a></li>
				<li class="style5"><a href="sitemap.html"><span>Galeria</span></a></li>
				<li class="style4"><a href="contact-us.html"><span>Kontakt</span></a></li>
			</ul>
		</div>
		<div class="logo">
			<div class="napis">
			Gdańsk<br>
			Curling<br>
			Club

			</div>
			<a href="home.html">
				<%= image_tag("logo.gif") %>
			</a>
		</div>
	</div>
<!-- CONTENT -->
	<div id="content">
		<div class="wrapper">
				<% if notice %>
				<div class="notice">
				<% if notice.match(/Uwaga!/) %>
				<div class="alert alert-error">
				<% elsif notice.match(/Gratulacje!/) %>
				<div class="alert alert-success">
				<% elsif notice.match(/Informacja!/) %>
				<div class="alert alert-info">
				<% end %>
				    <button type="button" class="close" data-dismiss="alert">&times;</button>
				    <strong><%= notice.html_safe %></strong>
				</div>
				</div>
				<% end %>
			<div align="right" style="margin-top: 5px;">Dzisiaj: <%= I18n.l Time.now, :format => "%A, %d %B, %Y" %></div>
			<div class="col-1">
			  <% if current_user %>
			    <div class="tabbable tabs-left adminpanel">
    				<ul class="nav nav-tabs">
					<% if current_page?("/") %>
					<li class="active">
					<% else %>
					<li>
					<% end %>
					<a href="/"><i class="icon-home"></i> Start</a>
					</li>

					<% if current_page?(user_messages_path(current_user)) %>
					<li class="active">
					<% else %>
					<li>
					<% end %>
					<%= link_to user_messages_path(current_user) do %>
					<i class="icon-inbox"></i> Skrzynka
					<% end %>
					</li>

					<% if current_page?(user_messages_path(current_user, :mailbox => :sent)) %>
					<li class="active">
					<% else %>
					<li>
					<% end %>
					<%= link_to user_messages_path(current_user, :mailbox => :sent) do %>
					<i class="icon-envelope"></i> Wysłane
					<% end %>
					</li>


					<% if current_page?("/users") %>
					<li class="active">
					<% else %>
    					<li>
					<% end %>
					<%= link_to users_path do %>
					<i class="icon-user"></i> Użytkownicy
					<% end %>
					</li>


					<li>
					<a><i class="icon-wrench"></i> Ustawienia</a>
					</li>
    				</ul>
    			    </div>
			  <% end %>
				<div class="box">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
									<h3>Kalendarz Imprez:</h3>
									<ul class="list">
										<li><b><a href="#">February 15, 2010</a></b>Sed ut perspiciatis unde omnis iste natus	dolorque laudantium aperiam.</li>
										<li><b><a href="#">February 07, 2010</a></b>Eaque ipsa quae ab illo inventore veritatis explicabo emo enim.</li>
										<li><b><a href="#">January 31, 2010</a></b>Gpsam voluptatem quia voluptas sit ed quia consequuntur magni dolores eos qui.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="border-top">
						<div class="left-top-corner">
							<div class="right-top-corner">
								<div class="inner">
									<h3>Nasi Sponsorzy:</h3>
									<center>
									<%= image_tag("browar.png") %><br /><br />
									<%= image_tag("mm.jpg") %><br /><br />
									<%= image_tag("gdansk.jpg") %><br /><br />
									<%= image_tag("gedanum.jpg") %><br /><br />
									<%= image_tag("gak.jpg") %>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2">
			<br>
				<%= yield %>
			</div>
		</div>
	</div>

<!-- FOOTER -->
	<div id="footer">
		<div class="indent">
			<div class="fleft">Copyright © 2013 gdanskcurlingclub.pl</div>
			<div class="fright">
			<% if current_user %>
				<i class="icon-user"></i> <%= link_to current_user.username, user_path(current_user.id) %> |
				<i class="icon-off"></i> <%= link_to "Wyloguj", :logout %>
			<% else %>
				<%= link_to "Logowanie", :login %> |
				<%= link_to "Rejestracja", new_user_path %>
			<% end %>
			Projekt: <%= link_to "Miłosz Osiński" , "http://m1l05z.pl" %> 
			</div>
		</div>
	</div>
</div>
</body>
</html>
